[run]
source = src/sds
relative_files = True
data_file = .coverage

omit =
    */tests/*
    */.venv/*
    */.tox/*
    */site-packages/*

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = coverage/htmlcov

[xml]
output = coverage/coverage.xml

[paths]
source =
    src/sds
    */src/sds
    /home/fabricemoutte/Personnel/dev/python/sds/src/sds
    .venv/lib/python*/site-packages/sds
    .tox/*/lib/python*/site-packages/sds